PrusaSlicer/cache/**
PrusaSlicer/snapshots/**
PrusaSlicer/vendor/**
PrusaSlicer.ini
ArchiveRepositoryManifest.json
*.bak
OrcaSlicer/hms/**
OrcaSlicer/log/**
OrcaSlicer/ota/**
OrcaSlicer/printers/**
OrcaSlicer/system/**
OrcaSlicer/user/hints.cereal
OrcaSlicer/user_backup*/**
OrcaSlicer/.orcaslicer_machine_id
OrcaSlicer.conf
OrcaSlicer.conf.bak
database/**
__pycache__/**

*.key
*.pem
*.pfx
*.p12
pki/
