#####################################################################
#   PAUSE / RESUME
#####################################################################
#   PAUSE  -> BASE_PAUSE, retract, hop, park, optional wipe
#   RESUME -> HEAT_SOAK_RESUME -> _RESUME_RESTORE -> BASE_RESUME
#
[gcode_macro PAUSE]
description: Pause print, retract, hop and park.
rename_existing: BASE_PAUSE
variable_saved_target: 0.0
variable_saved_retract: 0.0
variable_state_saved: 0
gcode:
    {% if printer.pause_resume.is_paused %}
        { action_respond_info("PAUSE: already paused") }
    {% else %}
        {% set e     = params.E|default(1.5)|float %}
        {% set hop   = params.Z_HOP|default(5.0)|float %}
        {% set clean = params.CLEAN|default(1)|int %}
        {% set px    = params.X|default(20)|float %}
        {% set py    = params.Y|default(300)|float %}
        {% set ext   = printer[printer.toolhead.extruder] %}
        {% set homed = 'xyz' in printer.toolhead.homed_axes %}

        # Call base pause so [pause_resume] captures the print position not the park position
        BASE_PAUSE

        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=saved_target VALUE={ext.target}
        SAVE_GCODE_STATE NAME=_PAUSE_PARK
        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=state_saved VALUE=1

        {% if ext.can_extrude and e > 0 %}
            M83
            G1 E-{e} F2100
            SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=saved_retract VALUE={e}
        {% else %}
            SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=saved_retract VALUE=0
        {% endif %}

        _SAFE_PARK Z_HOP={hop}{% if 'X' in params %} X={px}{% endif %}{% if 'Y' in params %} Y={py}{% endif %}

        {% if homed and clean %}
            CLEAN_NOZZLE
        {% endif %}

        STATUS_PART_READY
    {% endif %}


[gcode_macro RESUME]
description: Resume print
rename_existing: BASE_RESUME
gcode:
    HEAT_SOAK_RESUME ON_RESUME=_RESUME_RESTORE{% for p in params if p != 'ON_RESUME' %} {'%s=%s' % (p, params[p])}{% endfor %}


[gcode_macro _RESUME_RESTORE]
description: Internal reheat and unretract
gcode:
    {% set pm  = printer['gcode_macro PAUSE'] %}
    {% set ext = printer[printer.toolhead.extruder] %}
    {% set tgt = pm.saved_target|float %}
    {% set min_extrude = printer.configfile.settings[printer.toolhead.extruder].min_extrude_temp|float %}

    {% if tgt >= min_extrude and ext.target|float < tgt %}
        STATUS_HEATING
        M117 Reheating
        M109 S{tgt}
    {% endif %}

    {% if pm.saved_retract|float > 0 and printer[printer.toolhead.extruder].can_extrude %}
        SAVE_GCODE_STATE NAME=_RESUME_PRIME
        M83
        G1 E{pm.saved_retract} F2100
        RESTORE_GCODE_STATE NAME=_RESUME_PRIME MOVE=0
    {% endif %}
    SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=saved_retract VALUE=0

    {% if pm.state_saved|int %}
        RESTORE_GCODE_STATE NAME=_PAUSE_PARK MOVE=0
        SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=state_saved VALUE=0
    {% endif %}

    M117
    STATUS_PRINTING
    BASE_RESUME{% if 'VELOCITY' in params %} VELOCITY={params.VELOCITY}{% endif %}
