[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set pos = printer.gcode_move.gcode_position %}
    {% set x_safe = pos.x + 20 * (1 if th.axis_maximum.x - pos.x > 20 else -1) %}
    {% set y_safe = pos.y + 20 * (1 if th.axis_maximum.y - pos.y > 20 else -1) %}
    {% set z_safe = [pos.z + 2, th.axis_maximum.z]|min %}

    SAVE_GCODE_STATE NAME=PRINT_END

    CANCEL_HEAT_SOAK

    M400                                         # wait for buffer to clear

    TURN_OFF_HEATERS

    G90                                         # absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000     # move nozzle to remove stringing
    {% if 'gcode_macro _FILAMENT_PARK' in printer %}
        _FILAMENT_PARK
    {% else %}
        G0 X20 Y300 F3600                       # park nozzle at rear
    {% endif %}
    M107                                        # turn off fan

    BED_MESH_CLEAR
    SET_SKEW CLEAR=1

    # To prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=PRINT_END MOVE=0

    STATUS_READY
