
[mcu]
canbus_uuid: 87f8543d72e3

[board_pins mcu]
aliases:
aliases_motor:
#HV steppers
    X_STEP=PB10,X_DIR=PB11,X_EN=PG0,X_CS=PE15,
    Y_STEP=PF15,Y_DIR=PF14,Y_EN=PE9,Y_CS=PE11,
#Normal steppers
    Z_STEP=PD4,Z_DIR=PD3,Z_EN=PD7,Z_CS=PD5,
    Z1_STEP=PC12,Z1_DIR=PC11,Z1_EN=PD2,Z1_CS=PD0,
    Z2_STEP=PC9,Z2_DIR=PC8,Z2_EN=PC10,Z2_CS=PA8,
    E0_STEP=PG7,E0_DIR=PG6,E0_EN=PEC7,E0_CS=PG8,
    E1_STEP=PD10,E1_DIR=PD9,E1_EN=PD13,E1_CS=PD11,
aliases_endstops:
    X_MIN=PC1,Y_MIN=PC2,Z_MIN=PC3,Z_PROBE=PF1,FILAMENT=PC0
aliases_fans:
    FAN0=PB7,FAN1=PB3,FAN2=PF7,FAN3=PF9
aliases_leds:
    NEOPIXEL=PF10,LED_STRIP=PE6
aliases_heaters:
    HEATER_BED=PG11,HOTEND=PG10
aliases_thermistors:
    TH0=PA1,TH1=PA2,TH2=PA0,TH3=PA3
aliases_exp1:
    BEEP=PG9,
    BTN_ENC=PG12,
    LCD_EN=PG13,LCD_RS=PG14,LCD_D4=PC13,LCD_D5=PC14,LCD_D6=PC15,LCD_D7=PF0
aliases_exp2:
    SPI_MISO=PA6,SPI_SCK=PA5,SPI_CS=PA4,SPI_MOSI=PA7,
    BTN_EN1=PE3,BTN_EN2=PE2,
    SD_DET=PE5,
    KILL=PE4
aliases_uart:
    UART_TX=PA9,UART_RX=PA10
aliases_can:
    CAN_TX=PB6,CAN_RX=PB5
aliases_misc:
    STATUS_LED=PE1
