#LDO Leviathan v1.3 - https://ldomotion.com/guides/voron-leviathan-v1-3
# Processor model: STM32H743
# Bootloader offset: 128KiB bootloader
# Clock Reference: 25 MHz crystal
# Communication interface: USB to CAN bus bridge (USB on PA11/PA12)
# CAN bus interface: CAN bus (on PB5/PB6)
# CAN bus speed: 1000000
#
# +---------------------------------------------------------------------------------------------------+
# |     +------+  +------+   +------+  +------+   +......+      +------+           +------+ +-------+ |
# |     |  Z   |  |  Z1  |   |  Z2  |  |  E0  |   :  E1  :      |  X   |           |  Y   | |HV PWR | |
# |     |BB  AA|  |BB  AA|   |BB  AA|  |BB  AA|   :BB  AA:      |BB  AA|           |BB  AA| |  -    | |
# |     +------+  +------+   +------+  +------+   +......+      +------+           +------+ |  +    | |
# |                                                                                         +-------+ |
# |+-----------+                                      +.................................+             |
# ||PWR IN 6p  |                      +..........+    :                                 :             |
# ||+ 24V in   |                      :Pi 5V+UART:    :                                 :             |
# ||-          |                      :5V G RX TX:    :                                 :             |
# ||+ HEATER   |                      +..........+    :                                 :             |
# ||- PG10     |                                      :                                 :        USB-C|
# ||+ HEATBED  |                                 SWD  :                                 :   +.....+   |
# ||- PG11     |                                      :                                 :   :EXT  :   |
# |+-----------+                                      :           Raspberry Pi          :   :2x15 :   |
# |                                                   :                                 :   :     :   |
# |+--------+                                         :                                 :   :     :   |
# ||CAN 2x2 |                                         :                                 :   :     :   |
# ||24V  GND|                                         :                                 :   :     :   |
# ||CAN_H  L|    +------+    +------+                 :                                 :   :     :   |
# |+--------+    |EXP1  |    |EXP2  |   +---++...+    :                                 :   :     :   |
# | [term jmp]   |LCD   |    |SPI   |   |T2 |:T3 :    :                                 :   :     :   |
# |24V/5V sel    +------+    +------+   |PA0|:PA3:    +.................................+   +.....+   |
# |+---+   [v]    [v]   [v]    [v]   [v]+---++...+                                                    |
# ||LED|+...+ +---+  +---+ +...+  +...+ +---++...++...+ +...+                  +...+ +---+  +...+     |
# || - |:ZP : |F0 |  |F1 | :F2 :  :F3 : |T0 |:T1 ::NP : :FIL:                  :XE : |YE |  :ZE :     |
# || + |:SGP: |T-+|  |T-+| :T-+:  :T-+: |S G|:S G::DG+: :+GS:                  :+GS: |+GS|  :+GS:     |
# |+---++...+ +---+  +---+ +...+  +...+ +---++...++...+ +...+                  +...+ +---+  +...+     |
# +---------------------------------------------------------------------------------------------------+
#    --- wired    ... no pin assigned in printer.cfg
#    fans T - +  = tach, switched gnd, V+     endstops/FIL + G S = 3.3V, gnd, signal
#    Z-PROBE S G P = signal, gnd, power       NEOPIXEL D G + = Din, gnd, 5V
#    steppers BB AA = coil B pair, coil A pair    [v] = 24V/5V select jumper
#
# CODE  SILK            WIRED TO                                MCU PINS
# Z     STEPPER-0       stepper_z          TMC2209 UART         PD4/PD3/PD7   PD5
# Z1    STEPPER-1       stepper_z1         TMC2209 UART         PC12/PC11/PD2 PD0
# Z2    STEPPER-2       stepper_z2         TMC2209 UART         PC9/PC8/PC10  PA8
# E0    STEPPER-3       stepper_z3         TMC2209 UART         PG7/PG6/PC7   PG8
# E1    STEPPER-4       --  free                                PD10/PD9/PD13 PD11
# X     HV-STEPPER-0    stepper_x  B motor  TMC5160 SPI         PB10/PB11/PG0 PE15
# Y     HV-STEPPER-1    stepper_y  A motor  TMC5160 SPI         PF15/PF14/PE9 PE11
# F0    FAN0      3p    mcu_fan                                 PB7
# F1    FAN1      3p    --  free                                PB3
# F2    FAN2      3p    --  free                                PF7
# F3    FAN3      3p    --  free                                PF9
# T0    TH0       2p    heater_bed sensor (Keenovo bed)         PA1
# T1    TH1       2p    --  free                                PA2
# T2    TH2       2p    --  free                                PA0
# T3    TH3       2p    --  free                                PA3
# ZP    Z-PROBE   3p    --  free (probe is Cartographer on CAN) PF1
# NP    NEOPIXEL  3p    --  free                                PF10
# FIL   FILAMENT  3p    --  free                                PC0
# XE    X-ENDSTOP 3p    --  free (X endstop is on the H36)      PC1
# YE    Y-ENDSTOP 3p    stepper_y endstop                       PC2
# ZE    Z-ENDSTOP 3p    --  free (probe:z_virtual_endstop)      PC3
# LED   LED-Strip 2p    [led chamber] white, 24 V               PE6
#       PWR IN 6p       24 V board input
#                       HEATER   -> --  free                    PG10
#                       HEATBED  -> [heater_bed] = the Keenovo  PG11
#       HV PWR 2p       24-48 V for the two HV drivers only
#       CAN 2x2         CAN 1 Mbit -> H36 toolhead + Cartographer
#       EXP1 / EXP2     mini12864 display; its neopixel on LCD_D5 = PC14
#       USB-C           host link / USB-to-CAN bridge, mcu uuid 286b4c05a2cb
#       Pi 5V+UART      --  no Klipper pin assigned
#       EXT 2x15        --  no Klipper pin assigned
#

[mcu]
canbus_uuid: 286b4c05a2cb

[board_pins mcu]
aliases:
aliases_motor:
#HV steppers
    X_STEP=PB10,X_DIR=PB11,X_EN=PG0,X_CS=PE15,
    Y_STEP=PF15,Y_DIR=PF14,Y_EN=PE9,Y_CS=PE11,
#Normal steppers
    Z_STEP=PD4,Z_DIR=PD3,Z_EN=PD7,Z_CS=PD5,
    Z1_STEP=PC12,Z1_DIR=PC11,Z1_EN=PD2,Z1_CS=PD0,
    Z2_STEP=PC9,Z2_DIR=PC8,Z2_EN=PC10,Z2_CS=PA8,
    E0_STEP=PG7,E0_DIR=PG6,E0_EN=PC7,E0_CS=PG8,
    E1_STEP=PD10,E1_DIR=PD9,E1_EN=PD13,E1_CS=PD11,
aliases_endstops:
    X_MIN=PC1,Y_MIN=PC2,Z_MIN=PC3,Z_PROBE=PF1,FILAMENT=PC0
aliases_fans:
    FAN0=PB7,FAN1=PB3,FAN2=PF7,FAN3=PF9
aliases_leds:
    NEOPIXEL=PF10,LED_STRIP=PE6
aliases_heaters:
    HEATER_BED=PG11,HOTEND=PG10
aliases_thermistors:
    TH0=PA1,TH1=PA2,TH2=PA0,TH3=PA3
aliases_exp1:
    BEEP=PG9,
    BTN_ENC=PG12,
    LCD_EN=PG13,LCD_RS=PG14,LCD_D4=PC13,LCD_D5=PC14,LCD_D6=PC15,LCD_D7=PF0
aliases_exp2:
    SPI_MISO=PA6,SPI_SCK=PA5,SPI_CS=PA4,SPI_MOSI=PA7,
    BTN_EN1=PE3,BTN_EN2=PE2,
    SD_DET=PE5,
    KILL=PE4
aliases_uart:
    UART_TX=PA9,UART_RX=PA10
aliases_can:
    CAN_TX=PB6,CAN_RX=PB5
aliases_misc:
    STATUS_LED=PE1
