
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_220004000D51323532343932-if00
#canbus_uuid: 96118aa12235
restart_method: command

[board_pins mcu]
aliases:
aliases_motor:
    X_STEP=PE11,X_DIR=PE10,X_EN=PE9,X_CS=PE7,
    Y_STEP=PD8,Y_DIR=PB12,Y_EN=PD9,Y_CS=PE15,
    Z0_STEP=PD14,Z0_DIR=PD13,Z0_EN=PD15,Z0_CS=PD10,
    Z1_STEP=PE6,Z1_DIR=PC13,Z1_EN=PC5,Z1_CS=PC14,
    Z2_STEP=PE2,Z2_DIR=PE4,Z2_EN=PE3,Z2_CS=PC15,
    Z3_STEP=PD12,Z3_DIR=PC4,Z3_EN=PE8,Z3_CS=PA15,
aliases_endstops:
    X_MIN=PB14,Y_MIN=PB13,Z_MIN=PA0
aliases_fans:
    FAN2=PB2
aliases_leds:
    LED_STRIP=PC8 #HEAT1. Switch to RGB Header for 24v RGB leds.
aliases_heaters:
    HEATER_BED=PB4
aliases_thermistors:
    TH0=PB0
aliases_exp1:
    BTN_ENC=PA8,
    LCD_EN=PD2,LCD_RS=PC11,LCD_D4=PC10,LCD_D5=PC12
aliases_exp2:
    SPI_MISO=PA6,SPI_SCK=PA5,SPI_MOSI=PA7,
    BTN_EN1=PC6,BTN_EN2=PC7
aliases_toolhead:
    HEAT2=PB3