#FYSETC H36 Combo v1.3 - https://wiki.fysetc.com/docs/H36-Combo
# Processor model: STM32G0B1
# Bootloader offset: 8KiB offset (Katapult)
# Clock Reference: 12 MHz crystal
# Communication interface: CAN bus (on PD0/PD1)
# CAN bus speed: 1000000
# GPIO pins to set at micro-controller startup: !PA2
# ----------------------------------------------------------------------------
#                         +-----------------------------+
#                       //      +--------------+        \\\
#                     //        | XT30  24 V IN|           \\
#                   //          |              |             \\
#                ///            |  *G      *24V|               \\\
#              //    * MOTOR 4p +--------------+  o USB-C  DFU    \\\
#            //                                                      \\
#          //                                                          \\
#        //                                                              \\
#       /                            [o]USB   [o]CAN                       \\
#     //                             interface select                        \
#   //                                          +-----------+                 \\
# //                                    +------+| STM32G0B1 |                   \\
# |                        +-----------+|  I4  ||    MCU    |                    |
# |                        | F3  v g s ||  g   |+-----------+                    |
# |+-----------++---------++-----------+|  s   |                                 |
# || F0  v g s || F2  v g |             |  v   |                                 |
# |+-----------++---------+#===========#+------+                                 |
# |                        # H0  screw #                            o USB1   5p -|
# |                        # [+]   [-] #                                         |
# |+...........++---------+#===========#+-----+ +-----++-----------+             |
# |: F1  v g s :| T0  g s |             | I3  | | I2  || I0 / I1   |             |
# |+...........++---------+             |  g  | |  s  || s  s  g  v|* USB2/CAN --|
# |                                     |  s  | |  g  |+-----------+  5p  CAN bus|
# |  [ooo] [ooo]                        |  v  | |  v  | [ooo]  [oooooo]          |
# |  F0/F1  5V-24V sel                  +-----+ +-----+ [ooo]  [oooooo]          |
# |                                                     I0/I1/I2 5V-24V sel      |
# +------------------------------------------------------------------------------+
#    --- solid = wired    ... dashed = free    * pin in use    o pin free
#    fan pins  T = tach   - = switched gnd   + = V+ (per select pads)
#
# CODE  SILK          WIRED TO                              MCU PIN
# F0    FAN0    3p    hotend_fan + tachometer               PA9  / tach PC6
# F1    FAN1    3p    --  free                              PB15 / tach PB14
# F2    FAN2    2p    part cooling (multi_pin part_fans)    PB13
# F3    FAN3    3p    part cooling (multi_pin part_fans)    PA5  (tach PB0 spare)
# T0    TE0     2p    PT1000 hotend, 2.2k pullup            PA6
# H0    HE0     screw hotend heater                         PA7
# I1    IO.0+1  3p    stepper_x endstop                     PC7
# I2    IO.2    3p    sb_leds neopixel x3                   PA8
# I3    IO.3    3p    fil_toolhead switch                   PA10
# I4    IO.4    3p    fil_entry switch                      PB1
# G     XT30        24 V ground / +24 V input
#       MOTOR 4p    extruder stepper, TMC2209 UART          PB7/PB8/PB9, PC14
#       USB2/CAN    CAN 1 Mbit
#       USB1        --  free (CH334P hub downstream port)
#       USB-C       --  DFU / firmware only
#
# On-board, no connector:
#       ADXL345           PB10 clk / PB12 cs / PB2 miso / PB11 mosi
#       TH1 board temp    PA3  -> [temperature_sensor H36]
#       5V / 24V monitor  PA0 / PA4

[mcu toolhead]
#canbus_uuid: 9ad8e8dbd353
canbus_uuid: 9168d95f4eb7
#canbus_uuid: 5304cb49cacb - failed mosfet

[board_pins toolhead]
mcu: toolhead
aliases:
aliases_2209:
    EXT_EN=PB7,EXT_STEP=PB9,EXT_DIR=PB8,EXT_UART=PC14,EXT_DIAG=PC15
aliases_endstop:
    LIMIT0_1=PC7,LIMIT0_2=PA15,LIMIT3=PA10,LIMIT4=PB1
aliases_fans:
    FAN0=PA9,FAN1=PB15,FAN2=PB13,FAN3=PA5
aliases_fan_tach:
    TACH0=PC6,TACH1=PB14,TACH3=PB0
aliases_thermistors:
    TH0=PA6,TH1=PA3
aliases_heaters:
    HE0=PA7
aliases_rgb:
    RGBLED=PA8
aliases_adxl:
    ADXL_CLK=PB10,ADXL_CS=PB12,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_voltage:
    V5_MON=PA0,V24_MON=PA4
